.todo_form{
    padding:20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.img-perfil{
    margin-top: 50px;
}

form{
    margin-top: 30px;
}

.img-perfil img{
    display: block;
    margin:10px  auto;
    width: 150px;
    border-radius: 30%;
}

input{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px #000 solid;
}

.todo-tabla{
    margin-top: 50px;
}

.foto_tabla{
    width: 30px;
}

form button{
    display: block;
    margin: auto;
    margin: 10px;
}

.tipoCorreo{
    margin-top: 10px;
    margin-left: -53px;
    border: none;
}

.tipoCorreo select{
    border: none;
}

.tipoCargo{
    margin-top: 10px;
    margin-left: 10px;
}

.subirFoto{
    width: 28%;
    margin: auto;
    display: block;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
