.todo-barraP{
    margin-top: 40px;
}
.todo-table{
    margin-top: 50px;
}

.progress{
    margin-top: 10px;
}


.circle-progress{
    margin-top: 50px;
}

.todo-text{
    margin-top: 50px;
}


.cardNota img{
    width: 100%;
    height: 400px;
}