section .facturaG div.container {
    padding: 20px;
    height: 60vh; 
	  max-width: 800px;
	  background-color: #FFFFFF;
	  box-shadow: 0px 0px 10px #D8D8D8;

  }
  .content h2{
    text-align: center;
  }


