*{
    padding: 0;
    margin: 0;
}
.contactanos{
    margin-top: 40px;
    padding: 40px;
}

form h1{
    font-size: 35px;
}
form{
    box-shadow: 0px 0px 10px #D8D8D8;
    border-radius: 7px;
    padding: 15px;
}

.gracias{
    text-align: end;
    margin-top: 10px;
}
.envio{
    margin-top: 50px;
}
.comentario{
    resize: none;
}

.imagen{
    margin-top: -20px;
    height: 50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px){
    .imagen{
        display: none;
    }
    .contactanos{
        width: 100%;
    }
    .mensajes{
        width: 100%;
    }
    .envio{
        width: 60%;
    }
    .gracias{
        width: 40%;
    }
}