* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-light: rgba(132, 139, 200, 0.18);
    --icon-color: #e0e9ee;
    --body-color: #f3f4f6;
    --sidebar-color: #132f3b;
    --primary-color: #232424;
    --primary-color-light: #f0f0f1;
    --toggle-color: #b4adad;
    --text-color: #444343;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-y: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--icon-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 20px;
    margin-top: -2px;
    display: block;
    color: #2ac5d3;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    color: #FFFFFF;
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--icon-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover:not(.Active) {
    background: var(--color-light);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

a {
    text-decoration: none !important;
}

.menu-links {
    padding-left: 0px !important;
}

a.Active {
    background-image: linear-gradient(to right, #0dacda, #2bd3c9);
}

.ProfilePhoto {
    width: 35px;
    height: 35px;
}

.propiedadesNavbar {
    background: #1a282f !important;
    height: 60px !important;
}

.contenidoPagina {
    height: 100%;
    background-image: url(/Img/Img-dashboard/FondoDasboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
}

.dropdown-toggle::after {
    border-top-color: var(--icon-color) !important;
    /* Cambia el color aquí */
    border-bottom-color: var(--icon-color) !important;
    /* Cambia el color aquí */
}

.degradado {
    color: var(--icon-color) !important;
    background: #0EB7E6 !important;
}

.degradado1 {
    color: var(--icon-color) !important;
    background: #0B98BF !important;
}


@media (min-width: 1920px) {
    .nav-link {
        margin-bottom: 30px;
    }
    .sidebar .text,
    .sidebar .icon {
        font-size: 20px;
    }
    .ProfilePhoto {
        width: 50px;
        height: 50px;
    }
    .menuDesplegable {
        margin-top: 30px;
    }
}

@media (max-width: 1400px) {
    .nav-link {
        margin-bottom: 30px;
    }
    .sidebar .text,
    .sidebar .icon {
        font-size: 17px;
    }
    .menuDesplegable {
        margin-top: 30px;
    }
    .sidebar .menu {
        margin-top: 20px;
    }
    .sidebar li {
        height: 35px;
        margin-top: -6px;
    }
}

