.todo-tabla{
    margin-top: 50px;
}

.foto_tabla{
    width: 30px;
}

form button{
    display: block;
    margin: auto;
    margin: 10px;
}


section.hospitalizacionTabla div.container div.todo-tabla {
    padding: 10px 15px 10px 15px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px hsl(0, 0%, 85%);
}